<div class="container__big-card">

  <div class="big-card__photo">
    <img
      src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
      alt="placeholder"
      width="300px"
      height="200px"
      srcset=""
    >
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do angular</a></h1>
  </div>

  <div class="big-card__description">
<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at cursus diam. In lobortis egestas nisi et placerat. Vestibulum id aliquet justo, in blandit ante. Sed mauris nibh, convallis sed condimentum a, ullamcorper at felis. Fusce lorem mauris, laoreet non ornare vitae, commodo eu felis. In ligula orci, finibus et lorem et, cursus laoreet diam.</a></p>
  </div>
</div>
