<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    photoCover="https://is1-ssl.mzstatic.com/image/thumb/Music112/v4/5e/16/93/5e1693ac-65c7-b096-505f-6661772bafd8/cover.jpg/1200x1200bf-60.jpg"
    cardTitle="Herringbone by Greyson Chance"
    cardDescription="I miss you most on the coldest nights, could you make it here by summertime?
    I'd make this room so comfortable...">
  </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    photoCover="https://i1.sndcdn.com/artworks-r4GDof9go6aJ-0-t500x500.jpg"
    cardTitle="Carry You by Novo Amor">
  </app-small-card>
    <app-small-card
    photoCover="https://images.genius.com/161dceebac969bf33263c7f8b981c115.999x999x1.png"
    cardTitle="Revelator Eyes by The Paper Kites">
  </app-small-card>
    <app-small-card
    photoCover="https://images.genius.com/4ca98a387d9e5dd20ff4b24095afa034.543x543x1.jpg"
    cardTitle="Agnes by Glass Animals"></app-small-card>
  </div>

</div>
